<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      crossorigin="anonymous"
    />

    <title>Welcome To Achiever Restaurant</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Welcome To Achiever Restaurant</h1>
      <p class="lead">This is a simple project for online food order system.</p>

      <a class="btn btn-primary btn-lg" href="/" role="button">User</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Admin</a>
      <a class="btn btn-primary btn-lg" href="/employee" role="button">Employee</a>

      <hr class="my-4" />

      <p>
        P&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CE084</b>
        &emsp;<a href="https://github.com/ARIHO256">@Achiever</a>
      </p>
      <p>
        RosemaryI&nbsp;&emsp;<b>CE098</b>
        &emsp;<a href="https://github.com/ARIHO256"></a>
      </p>
    </div>

    <footer class="text-center py-3">
      <p>&copy; Company 2023-2025</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
